<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js" integrity="sha512-MinqHeqca99q5bWxFNQEQpplMBFiUNrEwuuDj2rCSh1DgeeTXUgvgYIHZ1puBS9IKBkdfLMSk/ZWVDasa3Y/2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/base16/solarized-dark.min.css" integrity="sha512-JPpsArcPmVD/lHCCuZeG6Kx4x2qURRXHXxKYaXYJiKEKaoLOcXKDYqQ4jSeauXbk+U6uZ1UzrGO85y+lpys0Og==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="css/master.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/5.0.0/autosize.min.js" integrity="sha512-zibtOTbkMuTivXGk5b8yJFGLIB1jF90NuV7gwNcVWL3xZx/I1HdkXU2pCZhadsuaS5HMUzabvRqK4WmWeKrwUg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>hastebin - about</title>
</head>
<body>
    <div class="box">
      <div class="upper-box">
        <a href="#"><img src="ressources/logo.png" alt=""></a>
      </div>
      <div class="lower-box">
        
          <a href="#" class="disabled"><img src="ressources/1.png" alt="" ></a>
          <a href="/new" ><img src="ressources/2h.png" alt=""></a>
          <a href="" class="disabled"><img src="ressources/3.png" alt=""></a>
          <a href="" class="disabled"><img src="ressources/4.png" alt=""></a>
          <a href="https://twiter.com"><img src="ressources/5h.png" alt=""></a>
        
      </div>
    </div>

    <div class="numbers">
      <% for (let i = 1; i <= number; i++) {%>
        <p><%= i %></p>
      <% } %>
    </div>

    <pre><code class="code"><%= code %></code></pre>
</body>
</html>